<a href="https://colab.research.google.com/github/kirillspiney/projects/blob/main/pandas_numpy/w_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Скачайте с сайта датасет любого размера. Определите, какому фильму было выставлено больше всего оценок 5.0.

In [ ]:
import pandas as pd

df = pd.read_csv('/content/ratings.csv')

counts = df[df['rating'] == 5.0].groupby('movieId')['rating'].count()

movie_with_most_5s = counts.sort_values(ascending=False).index[0]

print("Фильм с наибольшим количеством оценок 5.0:", movie_with_most_5s)

Фильм с наибольшим количеством оценок 5.0: 318.0

2. По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 год. Не учитывайте в расчётах отрицательные значения quantity.

In [ ]:
import pandas as pd

df = pd.read_csv('/content/power.csv')

baltic_countries = ['Latvia', 'Lithuania', 'Estonia']

baltic_consumption = df.query('country in @baltic_countries and category in [4, 12, 21] and year >= 2005 and year <= 2010 and quantity >= 0')

total_consumption = baltic_consumption['quantity'].sum()

print(f"Суммарное потребление стран Прибалтики в категориях 4, 12 и 21 за период с 2005 по 2010 год: {total_consumption}")

Суммарное потребление стран Прибалтики в категориях 4, 12 и 21 за период с 2005 по 2010 год: 240580.0

3. Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas DataFrame. Вы можете взять любые страницы.

In [ ]:
import pandas as pd

url = 'https://fortrader.org/quotes'

tables = pd.read_html(url)

print(tables[0])

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0  EURRUB Курс евро к рублю сегодня  88.78       0.03          0.03        NaN
1       USDRUB Курс рубля к доллару  80.83      -0.08         -0.10        NaN