<a href="https://colab.research.google.com/github/kirillspiney/projects/blob/main/basics/w_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задание 1
Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:
The Moscow Times — Wednesday, October 2, 2002
The Guardian — Friday, 11.10.13
Daily News — Thursday, 18 August 1977

In [ ]:
from datetime import datetime

date_string = "Wednesday, October 2, 2002"
date_format = "%A, %B %d, %Y"
date_object = datetime.strptime(date_string, date_format)
print(date_object)

2002-10-02 00:00:00

In [ ]:
from datetime import datetime

date_string = "Friday, 11.10.13"
date_format = "%A, %d.%m.%y"
date_object = datetime.strptime(date_string, date_format)
print(date_object)

2013-10-11 00:00:00

In [ ]:
from datetime import datetime

date_string = "Thursday, 18 August 1977"
date_format = "%A, %d %B %Y"
date_object = datetime.strptime(date_string, date_format)
print(date_object)

1977-08-18 00:00:00

Задание 2
Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]

Напишите функцию, которая проверяет эти даты на корректность. То есть для каждой даты возвращает True — дата корректна или False — некорректная.

In [ ]:
from datetime import datetime

def check_dates(dates):
    results = []
    for date in dates:
        try:
            datetime.strptime(date, '%Y-%m-%d')
            results.append(True)
        except ValueError:
            results.append(False)
    return results

In [ ]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']
results = check_dates(stream)
print(results)

[True, False, False]

Задание 3
Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [ ]:
from datetime import  
def date_range(start_date, end_date):
    try:
        start = datetime.strptime(start_date, '%Y-%m-%d')
        end = datetime.strptime(end_date, '%Y-%m-%d')
    except ValueError:
        return []
    if start > end:
        return []
    date_list = []
    while start <= end:
        date_list.append(start.strftime('%Y-%m-%d'))
        start += timedelta(days=1)
    return date_list

In [ ]:
start_date = '2022-01-01'
end_date = '2022-01-05'
date_list = date_range(start_date, end_date)
print(date_list)

['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05']

In [ ]:
start_date = '2022-01-05'
end_date = '2022-01-01'
date_list = date_range(start_date, end_date)
print(date_list)

[]

In [ ]:
start_date = '2022-01-32'
end_date = '2022-01-35'
date_list = date_range(start_date, end_date)
print(date_list)

[]